<h1>Click the photo you wish to delete.</h1>

<ul>
   <% Photo.all.each do |pic| %>
     <li>
      Photo Title - "<%= pic.title %>"<br>  Location - <%=pic.location%><br> Date - <%=pic.date%><br>
        <%Photographer.all.each do |a| %>
          <% if a.id == pic.photographer_id%>
            Name - <%=a.name%>
          <%end%>
       <%end%>
     </li>
    <a href="/delete_photo/<%=pic.id%>"> <img id="photo" src=<%= pic.url %>></img></a>
   <% end %><br>
</ul>
     
     
<ul>
  <a href="/homepage">Home</a>
</ul>